[loggers]
keys=root,cleanup_helper

[handlers]
keys=fileHandler

[formatters]
keys=logFormatter

[logger_root]
level=DEBUG
handlers=fileHandler
qualname=cleanup

[logger_cleanup_helper]
level=DEBUG
handlers=fileHandler
qualname=cleanup_helper
propagate=0

[handler_fileHandler]
class=handlers.RotatingFileHandler
formatter=logFormatter
args=('%(logfilename)s', 'a', %(filesize)s, %(filecount)s)

[formatter_logFormatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt=
