[loggers]
keys=root,dbConnect,alt_fuzzy_match

[handlers]
keys=access_log,fileHandler

[formatters]
keys=logFormatter

[logger_root]
level=DEBUG
handlers=access_log
qualname=web_server

[logger_dbConnect]
level=DEBUG
handlers=fileHandler
qualname=dbConnect
propagate=0

[logger_alt_fuzzy_match]
level=DEBUG
handlers=fileHandler
qualname=alt_fuzzy_match
propagate=0

[handler_fileHandler]
class=handlers.RotatingFileHandler
formatter=logFormatter
args=('%(logfilename)s', 'a', %(filesize)s, %(filecount)s)

[handler_access_log]
class=handlers.RotatingFileHandler
formatter=logFormatter
args=('%(accesslogfilename)s', 'a', %(filesize)s, %(filecount)s)

[formatter_logFormatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt=
