<!-- bucket.html -->
<div >

    <!-- Mute Modal Dialog -->
    <div>
        <script type="text/ng-template" id="MuteModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Mute Bucket and associated accounts</h3>
                <h3 class="modal-title">{{ bucket_id }} </h3>
            </div>
            <div class="modal-body">
                <div>
                Notes (Required): <textarea ng-model="msg"> </textarea>
                </div>
                <ul>
                    <li ng-repeat="account in accounts">
                        <div class="checkbox">
                            <label>
                              <input type="checkbox"
                                     value="{{ account }}"
                                     ng-checked="selected_accounts.indexOf(account) > -1"
                                     ng-click="toggleSelection(account)">{{ account }}
                            </label>
                          </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary" type="button" ng-click="mute()">Mute Accounts</button>
                <button class="btn btn-primary" type="button" ng-click="mute_bucket()">Mute Bucket</button>
            </div>
        </script>
    </div> <!-- End Mute Modal Dialog -->

    <div class="row">
       <div class="col-xs-6">
           <h3>Bucket: {{ bucketId }}</h3>
       </div>
       <div class="col-xs-6">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button"
                    class="btn btn-danger"
                    ng-click="mute_dialog_open(bucketId, bucket_data.bucket_aggregate[0].source_names)">Mute...</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-xs-6 -->
     </div>
     <div class="row">

	     <script type="text/ng-template" id="alert.html">
            <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
              <div ng-transclude></div>
            </div>
         </script>
          <div ng-show="mute_success">
		      <alert type="success" close="closeAlert()">Mute successful.</alert>
           </div>
           <div ng-show="mute_failure">
		      <alert type="danger" close="closeAlert()">Couldn't mute ask rparikh</alert>
           </div>
	   </div>

     </div>
    <div class="row">
        <div class="col-xs-6"
            ng-switch on="bucket_data.bucket.severity">
              <h4> Log Level:
                <span title="Warning" ng-switch-when="WARNING" class="glyphicon glyphicon-exclamation-sign" style="color:orange" aria-hidden="true">
                    Warning
                </span>
                <span title="Info" ng-switch-when="INFO" class="glyphicon glyphicon-info-sign" style="color:blue" aria-hidden="true">
                    Info
                </span>
                <span title="Error" ng-switch-when="ERROR" class="glyphicon glyphicon-alert" style="color:red" aria-hidden="true">
                    Error
                </span>
                <span title="Unknown" ng-switch-default class="glyphicon glyphicon-info-sign" style="color:#777" aria-hidden="true">
                    Unknown
                </span>
                  </h4>
        </div>
        <div class="col-xs-6"><h4>Total Count: <span class="badge">{{ bucket_data.bucket.total_count }}</span></h4></div>

    </div>
    <div class="row">
        <div class="col-xs-6">
        <h4>Accounts:
            <a ng-click="go_host(j)" class="post-tag"  ng-repeat="j in bucket_data.bucket_aggregate[0].source_names"> {{ j }}</a>
        </h4>
        </div>
        <div class="col-xs-6">
        <h4>Muted Accounts:
            <a class="post-tag" ng-repeat="k in bucket_data.muted_accounts"> {{ k }}</a>
        </h4>
        </div>
   </div>

   <div class="row">
        <div class="well">
            <textarea ng-model="bucket_data.bucket[0].user_message"/><br/>
            <button class="btn btn-primary" type="button" ng-click="save_user_message()">Save</button>
        </div>
    </div>


    <div class="row">
        <div class="well" ng-bind-html="bucket_data.bucket[0].canonical_message | highlight_vars">
        </div>
    </div>

    <div class="row">
        <div class="well">
        {{ bucket_data.bucket[0].message }}
        </div>
    </div>
    <!-- Search and Refresh -->
    <!-- Search and Refresh -->
    <div class="row">
      <div class="col-xs-4">
        <div class="input-group">
          <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></button>
          </span>
          <input type="text" class="form-control" ng-model="searchText" placeholder="Search for...">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
              <div class="col-xs-6">
                <label ><input type="radio" ng-model="last_period" ng-value="Date.now()" checked="checked"> all</label>
                <label ><input type="radio" ng-model="last_period" ng-value="30"> last 30 min</label>
                <label ><input type="radio" ng-model="last_period" ng-value="60"> last 60 min</label>
                <label ><input type="radio" ng-model="last_period" ng-value="240"> last 4 hrs</label>
                <label ><input type="radio" ng-model="last_period" ng-value="480"> last 8 hrs</label>
                <label ><input type="radio" ng-model="last_period" ng-value="1440"> last 24 hrs</label>

        </div>
      <div class="col-xs-2">
        <button  class='btn btn-block btn-primary' ng-click="get_bucket_data(bucket)"><span class="glyphicon glyphicon-refresh"></button>
      </div>
    </div>
   <div class="row">
     <div class="col-xs-4">
       <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="showFullMessage">
          Show Full Message
        </label>
      </div>
     </div>
   </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Error Message</th>
                    <th>Accounts</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in bucket_data.bucket_messages | filter:searchText | timeFilter:last_period">
                <td>{{ x.time_str }}</td>
                <td>{{ showFullMessage ?  x.message : x.message_tokens }}</a></td>
                <td>
                    <span class="badge">{{ x.hostname }}</span>
                </td>
                <td>
                    <span class="badge">{{ x.category }}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
